:root > * {
  --md-primary-fg-color:        #1665a2;
  --md-primary-fg-color--light: #73a3c7;
  --md-primary-fg-color--dark:  #0d3d61;
}

[data-md-color-scheme="slate"] {
  --md-hue: 200; 
}

/* Styling for left navigation panel*/
.md-sidebar__inner > .md-nav > .md-nav__list > .md-nav__item > .md-nav__link { color: #2f97ec; }
.md-nav__link:hover { color: #2f97ec; }
.md-nav__link.md-nav__link--active { color: #2f97ec; }

/* Styling for links embedded in text*/
.md-content__inner a {color: #2f97ec;}
.md-content__inner a:hover {color: #2f97ec;}
.md-content__inner a:focus {color: #2f97ec;}

/*Styling for right navigation panel (Table of Contents)*/
nav.md-nav.md-nav--secondary > .md-nav__list > .md-nav__item > .md-nav__link {color: #ffffff;}
nav.md-nav.md-nav--secondary > .md-nav__list > .md-nav__item > .md-nav__link:hover {color: #2f97ec;}
nav.md-nav.md-nav--secondary > .md-nav__list > .md-nav__item > .md-nav__link.md-nav__link--passed.md-nav__link--active {color: #2f97ec;}
.md-nav__link--passed {color: #ffffff;}
.md-nav__link--passed:hover {color: #2f97ec;}